body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f9fa;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #bdcde0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #000000;
    margin-top: 80px; /* Adjust this value based on the height of your header */
}

.statement {
    text-align: center;
    color: #b0bac3;
    margin-bottom: 0px; /* Adjust this value to reduce space below the hero text */
}

.statement p span {
    display: block;
    margin: 0.5rem 0;
}

#root {
    margin-top: 10px; /* Adjust this value to reduce space above the button */
}

.nav-links {
    display: flex; /* Ensures buttons are in a line */
    align-items: center; /* Vertically align button content */
}

.nav-links a {
    margin: 0 2rem;
    text-decoration: none;
    color: #333;
    padding: 0.7rem 1rem; /* Add padding for button-like appearance */
    border-radius: 3px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
