body {
  margin: 0;
  background-color: #000000;
  font-family: "Inter", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between; /* Align logo and nav to opposite ends */
  align-items: center;
  padding: 10px 20px;
  background-color: #000; /* Black background */
}

header nav {
  display: flex;  /* Make nav a flex container */
  justify-content: center; /* Center the links horizontally */
  width: 100%; /* Make nav take full width */
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

.logo {
  height: 5px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  color: white;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
