body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f9fa; /* Light background as in the original design */
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex; /* Make the nav a flex container */
  align-items: center; /* Vertically align items */
  width: 100%;
  padding: 15px 20px; /* Add padding for height */
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  max-width: 150px;
  height: auto;
}

.nav-links {
  display: inline-flex;
  align-items: center;
  margin-left: 2rem;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  color: #bdcde0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  margin-top: 80px; /* Accommodates the fixed header */
}

.statement {
  text-align: center;
  color: #b0bac3;
}

.statement p span {
  display: block;
  margin: 0.5rem 0;
}

button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #171717;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button img {
  max-width: 30px;
  margin-right: 10px;
} 